@import './typography.scss';
@import './spacing.scss';
@import './colors.scss';
@import './breakpoints.scss';

.progressbar {
  display: flex;
  gap: 10px;

  .span {
    width: 60px;
    height: 5px;
    background-color: $lightgray;
    border-radius: $spacing-four;
  }

  .active {
    background-color: $blue;
  }
}
