@import './typography.scss';
@import './spacing.scss';
@import './colors.scss';
@import './breakpoints.scss';

.box {
  border: 1px solid red;
  width: 50%;
  display: flex;
  justify-self: flex-end;
}
