@import './colors.scss';
@import './spacing.scss';
@import './typography.scss';
@import './breakpoints.scss';

.herocard {
  padding: $spacing-none !important;
  height: 100%;
}

.content {
  width: 100%;
}

.thumbnail {
  background-size: cover;
  border-top-left-radius: $spacing-four;
  border-top-right-radius: $spacing-four;
  width: 100%;
  min-height: $spacing-sixteen;

  @include sizes(sm) {
    min-height: $spacing-twenty-four;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-two;
  padding: $spacing-four;
  padding-top: $spacing-two;
  text-align: center;
}
