@import './typography.scss';
@import './spacing.scss';
@import './colors.scss';
@import './breakpoints.scss';

.showForm {
  display: flex;
}

.hideForm {
  display: none;
}

.left,
.right {
  flex: 1;
  height: 100%;
  padding: $spacing-sixteen;
}

.left {
  background-color: $white;

  .form {
    display: flex;
    flex-direction: column;
    gap: $spacing-twenty-seven;

    button {
      align-self: flex-end;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: $spacing-fourteen;
    margin-top: $spacing-thirty-two;
    margin-right: $spacing-thirty-two;
  }
}

.right {
  display: flex;
  justify-content: center;

  .component {
    margin: 0 auto;
    max-width: 388px;
    position: fixed;
  }
}
