@import './colors.scss';
@import './spacing.scss';
@import './typography.scss';

.card {
  display: flex;
  background-color: $white;
  border-radius: $spacing-four;
  padding: $spacing-two;
  flex: 1;
  box-shadow: rgb(151 134 245 / 17%) 0px 6px 20px 4px;
  gap: $spacing-two;
  align-items: center;
  max-height: 80px;

  @include sizes(sm) {
    max-height: fit-content;
    padding: $spacing-four;
  }
}
