@import './typography.scss';
@import './spacing.scss';
@import './colors.scss';
@import './breakpoints.scss';

.nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}
