@import './typography.scss';
@import './spacing.scss';
@import './colors.scss';
@import './breakpoints.scss';

.nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: $spacing-eight $spacing-sixteen;
  position: fixed;
  top: 0;
  width: calc(100% - $spacing-thirty-two);
  z-index: 1;
}

.logoHidden {
  justify-content: flex-end;
}

.lens {
  flex-direction: column;
}
