@import './normalize.scss';
@import './typography.scss';
@import './spacing.scss';
@import './colors.scss';
@import './breakpoints.scss';

// * {
//   -webkit-font-smoothing: antialiased;
// }

:root {
  --aliceblue: #f4f8ff;
  --blue: #54a0ff;
  --navyblue: #0445af;
  --darkgray: #576574;
  --imperialprimer: #222f3e;
  --lightgray: #c8d6e5;
  --lightnavyblue: #0445af4d;
  --lightpink: #ff9ff3;
  --lightred: #ff6b6b;
  --mediumgray: #8395a7;
  --mediumpink: #f368e0;
  --mediumred: #ee5253;
  --orange: #ff9f43;
  --purple: #5f27cd;
  --white: #ffffff;
  --yellow: #feca57;
  --green: #0be881;
}

p,
h1,
h2 {
  margin: 0;
}

body {
  background-color: $aliceblue;
  font-family: 'gorditaregular';
  font-size: $spacing-four;
  line-height: $spacing-six;
  color: $imperialprimer;

  @include sizes(sm) {
    font-size: $spacing-six;
    line-height: $spacing-eight;
  }
}

a {
  text-decoration: none;
  font-family: 'gorditamedium';
  color: $darkgray;

  &:visited {
    color: $mediumgray;
  }

  &:active,
  &:hover {
    color: $imperialprimer;
  }
}
