$spacing-none: 0;
$spacing-one: 0.25rem;
$spacing-two: 0.5rem;
$spacing-three: 0.75rem;
$spacing-three-plus: 0.875rem;
$spacing-four: 1rem;
$spacing-five: 1.25rem;
$spacing-six: 1.5rem;
$spacing-seven: 1.75rem;
$spacing-eight: 2rem;
$spacing-nine: 2.25rem;
$spacing-ten: 2.5rem;
$spacing-eleven: 2.75rem;
$spacing-twelve: 3rem;
$spacing-thirteen: 3.25rem;
$spacing-fourteen: 3.5rem;
$spacing-fifteen: 3.75rem;
$spacing-sixteen: 4rem;
$spacing-seventeen: 4.25rem;
$spacing-eighteen: 4.5rem;
$spacing-nineteen: 4.75rem;
$spacing-twenty: 5rem;
$spacing-twenty-one: 5.25rem;
$spacing-twenty-two: 5.5rem;
$spacing-twenty-three: 5.75rem;
$spacing-twenty-four: 6rem;
$spacing-twenty-five: 6.25rem;
$spacing-twenty-six: 6.5rem;
$spacing-twenty-seven: 6.75rem;
$spacing-twenty-eight: 7rem;
$spacing-twenty-nine: 7.25rem;
$spacing-thirty: 7.5rem;
$spacing-thirty-one: 7.75rem;
$spacing-thirty-two: 8rem;
